<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Order Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
</head>

<body>
    <header>
        <div class="logo">Pepsi Lounge</div>
        <div class="auth-buttons">
            <a href="{{url_for('users.login')}}">Log In</a>
            <a href="{{url_for('users.signup')}}">Sign Up</a>
        </div>
    </header>
    <section class="hero-section">
        <div class="header-content">
            <h1>Delicious Meals</h1>
            <p>Order your favorite dishes from the best Lounge in Campus</p>
            <a href="{{url_for('users.menu')}}">View Menu</a>
        </div>
        <div class="hero-image">
            <img src="{{url_for('static', filename='images/hero.png')}}" alt="Delicious food" />
        </div>
    </section>
    <section>
        <h2>Why Choose Us?</h2>
        <div class="features">
            <div class="feature">
                <h3>Fresh Ingredients</h3>
                <p>
                    We ensure every meal is prepared with fresh and high-quality
                    ingredients.
                </p>
            </div>
            <div class="feature">
                <h3>Online Ordering</h3>
                <p>
                    Receive your orders quickly with our efficient delivery
                    network.
                </p>
            </div>
            <div class="feature">
                <h3>Affordable Prices</h3>
                <p>Enjoy delicious meals that fit your budget.</p>
            </div>
        </div>
    </section>

    <section class="cta">
        <h2>Ready to Savor the Best?</h2>
        <p>Place your order now and experience the taste of happiness!</p>
        <a id="view-menu" href="{{url_for('static', filename='users.login')}}">Get Started</a>
    </section>

    <footer>
        <p>
            &copy; 2025 FOS. All Rights Reserved.
        </p>
    </footer>
</body>

</html>